
# Individual database connection parameters
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# pgAdmin credentials
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

#porta app (application port)
PORT=3000