# conexao online
DATABASE_URL="postgresql://neondb_owner:npg_kSa5b7QPmKRs@ep-broad-salad-aykcu96e.c-5.us-east-2.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"
DATABASE_URL_POOLED="postgresql://neondb_owner:npg_kSa5b7QPmKRs@ep-broad-salad-aykcu96e-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# conexao docker
DB_HOST=db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=nestdb

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
